$MOBILE_MARGIN: 25px;

html,
body,
main {
  padding: 0;
  margin: 0;
  width: 100vw;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

main {
  overflow: hidden;
  height: 100%;
}

#desktop-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0px;

  transform: scale(1);
  height: 25vh;

  transition: all 300ms;

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: -10px;
    }
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin: 30px;

    h2 {
      margin: 10px;
      position: relative;

      span {
        background: #000;
        position: absolute;
        bottom: 0;
        content: '';
        height: 4px;

        transition: width 300ms;
      }
    }

    h2.underline-left span {
      width: 0;
      left: 0;
    }

    h2.underline-right span {
      width: 0;
      right: 0;
    }

    h2.underline span {
      width: 100%;
      transition: width 300ms;
    }
  }
}

#desktop-header.expand {
  height: 80vh;
  transform: scale(1.2);
}

#mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

#menu {
  z-index: 10;
  visibility: hidden;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .close {
    position: absolute;
    right: 0;
    top: 0;

    padding: 20px 23px 20px 20px;
  }
}

#menu.show {
  visibility: visible;
}

#menu.unmounting {
  opacity: 0;
  visibility: visible;

  transition: opacity 200ms;
}

#mobile-header.expand {
  height: 90vh;
  flex-direction: column;
  justify-content: center;

  h2,
  button {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 699px) {
  #desktop-header {
    height: 0 !important;
    padding: 0 !important;
    visibility: hidden;
  }
}

@media only screen and (min-width: 700px) {
  #mobile-header {
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;

    #menu {
      visibility: hidden !important;
    }
  }
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 2px;
  row-gap: 2px;

  .project-button {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    .description {
      position: absolute;
      top: 0;
      width: 75%;
      height: 100%;
      padding: 10px 30px;
      z-index: 2;

      h3 {
        position: relative;
        width: max-content;
      }

      h3 span {
        position: absolute;
        z-index: -1;
        left: 10px;
        bottom: -5%;
        content: '';
        background: #000;
        height: 60%;
        width: 0;
      }
    }

    .stack {
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 100%;

      padding: 10px 30px;
      visibility: hidden;
      z-index: 2;
    }

    img {
      width: 100%;
      z-index: 1;
      transform: scale(1);
      transition: transform 200ms ease-out;
    }
  }

  .project-button:hover {
    .stack {
      visibility: visible;
    }

    img {
      transform: scale(1.1);
      transition: transform 300ms ease-out;
    }

    .description h3 span {
      width: 100%;

      transition: width 200ms ease-out;
    }
  }
}

#photography {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 2px;
  column-gap: 2px;

  img {
    width: 100%;
  }
}

#viewer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100vh;
  left: 0;

  z-index: 5;

  transition: top 300ms ease-out;

  #viewer-header {
    position: absolute;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

#viewer.unmounting {
  top: 100vh;
  transition: top 300ms ease-in;
}

#viewer.show {
  top: 0;

  transition: top 300ms ease-in-out 300ms;
}
