$BLUE: #15049b;

h1,
h2,
h3,
h4,
p {
  font-family: 'poppins', Helvetica, sans-serif;
}

h1 {
  font-size: 41px;
}

a:visited {
  color: #fff;
}

#header {
  .name {
    h1 {
      font-weight: bold;
      text-align: center;
      font-size: 50px;
    }
  }
  .tabs {
    font-variant: small-caps;

    h2 {
      cursor: pointer;
    }
  }
}

#projects {
  .project-button {
    cursor: pointer;

    .stack {
      opacity: 0;
      transition: opacity 300ms;
    }
  }

  .project-button:hover {
    .stack {
      opacity: 1;
      transition: opacity 300ms;
    }
  }
}

.show {
  opacity: 1;
  transition: opacity 300ms;
}

.hide {
  opacity: 0;
  transition: opacity 300ms;
}

#viewer {
  #viewer-header {
    button {
      cursor: pointer;
      background: transparent;
      border: none;

      transition: all 100ms;
    }

    button:hover {
      transform: scale(1.2);

      transition: all 200ms;
    }

    button:focus {
      outline: none;
    }
  }
}
